.table{
    width: 100%;
    border: 1px solid black;
}

.table__header{
    text-align: left;
}

.table__action{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.table__btn{
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.table__edit-btn{
    
}
.table__delete-btn{
    color: red;
}